{
  "extends": "airbnb/base",
  "rules": {
    "semi": "off",
    "no-plusplus": "off",
    "no-console": "warn",
    "no-magic-numbers": "off",
    "no-unused-vars": "error",
    "comma-dangle": "off",
    "eol-last": "error",
    "indent": [ "error", 2 ],
    "multiline-comment-style": ["warn", "starred-block" ],
    "no-inline-comments": "error",
    "eqeqeq": "warn",
    "camelcase": "warn"
  }
}
